
<div class="mx-4 my-4 animate-fadein animate-duration-500">
  <p-message severity="info" text="Em desenvolvimento.."></p-message>
</div>

<!--  <div class="grid grid-cols-12 gap-4">-->

<!--    <div class="col-span-12 md:col-span-6 lg:col-span-3">-->
<!--      <div class="bg-surface-0 dark:bg-surface-900 shadow-lg p-4 rounded-border">-->
<!--        <div class="flex justify-between mb-4">-->
<!--          <div>-->
<!--            <span class="block text-surface-500 dark:text-surface-300 font-medium mb-4">Mês</span>-->
<!--            <p-datePicker [(ngModel)]="mesSelecionado" view="month" dateFormat="mm/yy" [readonlyInput]="true"-->
<!--                        inputId="monthpicker" (ngModelChange)="carregarValores()" class="p-inputtext-sm"></p-calendar>-->
<!--          </div>-->
<!--          <div class="flex items-center justify-center bg-yellow-100 rounded-border" style="width:2.5rem;height:2.5rem">-->
<!--            <i class="pi pi-calendar text-yellow-500 text-xl"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;        <span class="text-green-500 font-medium">24 new </span>&ndash;&gt;-->
<!--        &lt;!&ndash;        <span class="text-surface-500 dark:text-surface-300">since last visit</span>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-span-12 md:col-span-6 lg:col-span-3">-->
<!--      <div class="bg-surface-0 dark:bg-surface-900 shadow-lg p-4 rounded-border">-->
<!--        <div class="flex justify-between mb-4">-->
<!--          <div>-->
<!--            <span class="block text-surface-500 dark:text-surface-300 font-medium mb-4">Clientes cadastrados</span>-->
<!--            <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{clientesCadastradosNoMes}}</div>-->
<!--          </div>-->
<!--          <div class="flex items-center justify-center bg-blue-100 rounded-border" style="width:2.5rem;height:2.5rem">-->
<!--            <i class="pi pi-user text-blue-500 text-xl"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <span class="text-green-500 font-medium">{{clientesNoTotal}}</span>-->
<!--        <span class="text-surface-500 dark:text-surface-300"> no total</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-span-12 md:col-span-6 lg:col-span-3">-->
<!--      <div class="bg-surface-0 dark:bg-surface-900 shadow-lg p-4 rounded-border">-->
<!--        <div class="flex justify-between mb-4">-->
<!--          <div>-->
<!--            <span class="block text-surface-500 dark:text-surface-300 font-medium mb-4">Serviços registrados</span>-->
<!--            <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{servicosFeitosNoMes}}</div>-->
<!--          </div>-->
<!--          <div class="flex items-center justify-center bg-orange-100 rounded-border" style="width:2.5rem;height:2.5rem">-->
<!--            <i class="pi pi-heart text-orange-500 text-xl"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <span class="text-green-500 font-medium">{{servicosNoTotal}}</span>-->
<!--        <span class="text-surface-500 dark:text-surface-300"> no total</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-span-12 md:col-span-6 lg:col-span-3">-->
<!--      <div class="bg-surface-0 dark:bg-surface-900 shadow-lg p-4 rounded-border">-->
<!--        <div class="flex justify-between mb-4">-->
<!--          <div>-->
<!--            <span class="block text-surface-500 dark:text-surface-300 font-medium mb-4">Valor total</span>-->
<!--            <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{valorDoMes | currency: 'BRL'}}</div>-->
<!--          </div>-->
<!--          <div class="flex items-center justify-center bg-green-100 rounded-border" style="width:2.5rem;height:2.5rem">-->
<!--            <i class="pi pi-dollar text-green-500 text-xl"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <span class="text-green-500 font-medium">{{valorNoTotal | currency: 'BRL'}}</span>-->
<!--        <span class="text-surface-500 dark:text-surface-300"> no total</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="grid grid-cols-12 gap-4 mt-1">-->
<!--    <div class="col-span-12 md:col-span-12 lg:col-span-6">-->
<!--      <div class="bg-surface-0 dark:bg-surface-900 shadow-lg p-4 rounded-border">-->
<!--        <h2 class="text-blue-800" style="text-align: center">Serviços realizados por dia</h2>-->
<!--        <p-chart type="line" [data]="data1" [options]="options1"></p-chart>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-span-12 md:col-span-12 lg:col-span-6">-->
<!--      <div class="bg-surface-0 dark:bg-surface-900 shadow-lg p-4 rounded-border">-->
<!--        <h2 class="text-green-800" style="text-align: center">Valores recebidos por dia</h2>-->
<!--        <p-chart type="bar" [data]="data2" [options]="options2"></p-chart>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-span-12 md:col-span-12 lg:col-span-6">-->
<!--      <div class="bg-surface-0 dark:bg-surface-900 shadow-lg p-4 rounded-border">-->
<!--        <h2 style="text-align: center">Clientes mais frequentes</h2>-->
<!--        <p-chart type="bar" [data]="data3" [options]="{indexAxis: 'y'}"></p-chart>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-span-12 md:col-span-12 lg:col-span-6">-->
<!--      <div class="bg-surface-0 dark:bg-surface-900 shadow-lg p-4 rounded-border">-->
<!--        <h2 style="text-align: center">Serviços mais frequentes</h2>-->
<!--        <p-chart type="pie" [data]="data4" [options]="options4"-->
<!--                 [style]="{'width': '50%', 'display': 'block', 'margin': '0 auto'}"></p-chart>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
