<div class="grid grid-cols-12 gap-4 text-surface-800 dark:text-surface-50">
  <div class="col-span-12 md:col-span-6 p-12 text-center md:text-left flex items-center">
    <section>
      <span class="block text-6xl font-bold mb-2">Sistemas Anjos</span>
      <div class="text-4xl text-primary font-bold mb-6">O auxiliar dos seus negócios</div>
      <p class="mt-0 mb-6 text-surface-700 dark:text-surface-100 leading-normal">
        <span class="block">Cansou de usar fichas para gerenciar suas vendas ?</span>
        <span class="block mt-1">Gostaria de modernizar o seu negócio investindo bem pouco ?</span>
        <span class="block mt-1">Temos a solução ideal para você.</span>
      </p>
      <a routerLink="/acesso" rel="noopener noreferrer" class="p-button font-bold text-white mr-2">Acessar seu sistema</a>
      <a routerLink="/exemplo" rel="noopener noreferrer" class="p-button p-button-outlined font-bold">Visualizar exemplo</a>
    </section>
  </div>
  <div class="col-span-12 md:col-span-6 overflow-hidden">
    <img src="assets/imagens/asas.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
