<div class="grid grid-cols-12 gap-4 text-slate-900 bg-light">
  <div class="col-span-12 md:col-span-6 p-12 text-center md:text-left flex items-center">
    <section>
      <span class="block text-6xl font-bold mb-2 h-16 palavra-gradiente text-shadow-lg">Sistemas Anjos</span>
      <div class="text-3xl text-primary font-bold mb-4">Gerenciando suas vendas e clientes de forma eficiente</div>
      <p class="mt-0 mb-6 text-surface-700 dark:text-surface-100 leading-normal">
        <span class="block">Cansou de usar papel e caneta para gerenciar o seu negócio ?</span>
<!--        <span class="block mt-1">Precisa de um sistema moderno para gerenciar seu negócio de forma eficiente e a um preço acessível ?</span>-->
        <span class="block mt-1">Temos a solução ideal para você !</span>
      </p>
      <a routerLink="/acesso" rel="noopener noreferrer" class="p-button font-bold text-white mr-2">Acessar seu sistema</a>
      <a routerLink="/demonstracao" rel="noopener noreferrer" class="p-button p-button-outlined font-bold"> Veja uma demonstração</a>
    </section>
  </div>
  <div class="col-span-12 md:col-span-6 overflow-hidden">
    <img src="assets/imagens/banner.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
