<div class="fadein animation-duration-500">

  <div class="grid text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <span class="block text-6xl font-bold mb-2">Sistemas Anjos</span>
        <div class="text-4xl text-primary font-bold mb-4">O auxiliar dos seus negócios</div>
        <p class="mt-0 mb-4 text-700 line-height-3">
          Cansou de usar fichas para cadastrar seus clientes e vendas ? <br>
          Temos a solução ideal para você gerenciar os seus negócios de uma forma simples e prática. <br>
          Conheça nosso sistema sem compromisso agora mesmo e descubra uma melhor forma de gerir seus negócios.
        </p>
        <a routerLink="/acesso" rel="noopener noreferrer" class="p-button font-bold text-white mr-2">Acessar seu sistema</a>
        <a routerLink="/planos" rel="noopener noreferrer" class="p-button p-button-outlined font-bold">Conhecer planos</a>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
      <img src="assets/imagens/asas.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
  </div>


<!--  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">-->
<!--    <div class="text-700 text-center">-->
<!--      <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div>-->
<!--      <div class="text-900 font-bold text-5xl mb-3">Sistemas Anjos</div>-->
<!--      <div class="text-700 text-2xl mb-5">O auxiliar dos seus negócios</div>-->
<!--      <div class="text-500 text-2xl mb-2">Cansou de usar fichas para cadastrar seus clientes e vendas ?</div>-->
<!--      <div class="text-500 text-2xl mb-2">Temos a solução ideal para você gerenciar os seus negócios de uma forma simples e prática.</div>-->
<!--      <div class="text-500 text-2xl mb-6">Conheça nosso sistema sem compromisso agora mesmo e descubra uma melhor forma de gerir seus negócios.</div>-->
<!--      <button pButton pRipple label="visualizar" icon="pi pi-eye" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>-->
<!--    </div>-->
<!--  </div>-->


</div>
