
<div class="mx-3 my-3 fadein animation-duration-500">
  <p-message severity="info" text="Em desenvolvimento.."></p-message>
<!--  <div class="grid">-->

<!--    <div class="col-12 md:col-6 lg:col-3">-->
<!--      <div class="surface-card shadow-4 p-3 border-round">-->
<!--        <div class="flex justify-content-between mb-3">-->
<!--          <div>-->
<!--            <span class="block text-500 font-medium mb-3">Mês</span>-->
<!--            <p-calendar [(ngModel)]="mesSelecionado" view="month" dateFormat="mm/yy" [readonlyInput]="true"-->
<!--                        inputId="monthpicker" (ngModelChange)="carregarValores()" class="p-inputtext-sm"></p-calendar>-->
<!--          </div>-->
<!--          <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" style="width:2.5rem;height:2.5rem">-->
<!--            <i class="pi pi-calendar text-yellow-500 text-xl"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;        <span class="text-green-500 font-medium">24 new </span>&ndash;&gt;-->
<!--        &lt;!&ndash;        <span class="text-500">since last visit</span>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-6 lg:col-3">-->
<!--      <div class="surface-card shadow-4 p-3 border-round">-->
<!--        <div class="flex justify-content-between mb-3">-->
<!--          <div>-->
<!--            <span class="block text-500 font-medium mb-3">Clientes cadastrados</span>-->
<!--            <div class="text-900 font-medium text-xl">{{clientesCadastradosNoMes}}</div>-->
<!--          </div>-->
<!--          <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">-->
<!--            <i class="pi pi-user text-blue-500 text-xl"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <span class="text-green-500 font-medium">{{clientesNoTotal}}</span>-->
<!--        <span class="text-500"> no total</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-6 lg:col-3">-->
<!--      <div class="surface-card shadow-4 p-3 border-round">-->
<!--        <div class="flex justify-content-between mb-3">-->
<!--          <div>-->
<!--            <span class="block text-500 font-medium mb-3">Serviços registrados</span>-->
<!--            <div class="text-900 font-medium text-xl">{{servicosFeitosNoMes}}</div>-->
<!--          </div>-->
<!--          <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">-->
<!--            <i class="pi pi-heart text-orange-500 text-xl"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <span class="text-green-500 font-medium">{{servicosNoTotal}}</span>-->
<!--        <span class="text-500"> no total</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-6 lg:col-3">-->
<!--      <div class="surface-card shadow-4 p-3 border-round">-->
<!--        <div class="flex justify-content-between mb-3">-->
<!--          <div>-->
<!--            <span class="block text-500 font-medium mb-3">Valor total</span>-->
<!--            <div class="text-900 font-medium text-xl">{{valorDoMes | currency: 'BRL'}}</div>-->
<!--          </div>-->
<!--          <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width:2.5rem;height:2.5rem">-->
<!--            <i class="pi pi-dollar text-green-500 text-xl"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <span class="text-green-500 font-medium">{{valorNoTotal | currency: 'BRL'}}</span>-->
<!--        <span class="text-500"> no total</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="grid mt-1">-->
<!--    <div class="col-12 md:col-12 lg:col-6">-->
<!--      <div class="surface-card shadow-4 p-3 border-round">-->
<!--        <h2 class="text-blue-800" style="text-align: center">Serviços realizados por dia</h2>-->
<!--        <p-chart type="line" [data]="data1" [options]="options1"></p-chart>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-12 lg:col-6">-->
<!--      <div class="surface-card shadow-4 p-3 border-round">-->
<!--        <h2 class="text-green-800" style="text-align: center">Valores recebidos por dia</h2>-->
<!--        <p-chart type="bar" [data]="data2" [options]="options2"></p-chart>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-12 lg:col-6">-->
<!--      <div class="surface-card shadow-4 p-3 border-round">-->
<!--        <h2 style="text-align: center">Clientes mais frequentes</h2>-->
<!--        <p-chart type="bar" [data]="data3" [options]="{indexAxis: 'y'}"></p-chart>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-12 lg:col-6">-->
<!--      <div class="surface-card shadow-4 p-3 border-round">-->
<!--        <h2 style="text-align: center">Serviços mais frequentes</h2>-->
<!--        <p-chart type="pie" [data]="data4" [options]="options4"-->
<!--                 [style]="{'width': '50%', 'display': 'block', 'margin': '0 auto'}"></p-chart>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</div>
