
  <div class="bg-surface-50 dark:bg-surface-950 px-6 py-20 md:px-12 lg:px-20">
    <div class="text-surface-900 dark:text-surface-0 font-bold text-4xl mb-6 text-center">Nossos planos</div>
    <div class="text-surface-700 dark:text-surface-100 text-xl mb-12 text-center leading-normal">Escolha o plano ideal para seu negócio:</div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-4" *ngFor="let p of planos">
        <div class="p-4 h-full">
          <div class="shadow p-4 h-full flex flex-col bg-surface-0 dark:bg-surface-900" style="border-radius: 6px">
            <div class="text-surface-900 dark:text-surface-0 font-bold text-xl mb-2">{{ p.plano }}</div>
            <div class="text-surface-600 dark:text-surface-200">{{ p.descricao }}</div>
            <hr class="my-4 mx-0 border-t border-0 border-surface"/>
            <div class="flex items-center">
              <span class="font-bold text-2xl text-surface-900 dark:text-surface-0">{{ p.preco }}</span>
              <span class="ml-2 font-medium text-surface-600 dark:text-surface-200">por mês</span>
            </div>
            <hr class="my-4 mx-0 border-t border-0 border-surface"/>
            <ul class="list-none p-0 m-0 grow">
              <li class="flex items-center mb-4" *ngFor="let i of p.lista">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-surface-900 dark:text-surface-0">{{ i }}</span>
              </li>
            </ul>
            <hr class="mb-4 mx-0 border-t border-0 border-surface mt-auto"/>
            <button pButton pRipple label="Buy Now" class="p-4 w-full mt-auto"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
