<div class="px-2 py-20 md:px-6 lg:px-10 border-t border-t-primary-300">
  <div class="text-surface-900 dark:text-surface-0 font-bold text-4xl mb-6 text-center">Nossos planos</div>
  <div class="text-surface-700 dark:text-surface-100 text-xl mb-12 text-center leading-normal">
    Escolha o plano ideal para o seu negócio e a um preço acessível:
  </div>
  <div class="grid grid-cols-12">
    @for (p of planos; track $index) {
      <div class="col-span-12 lg:col-span-6">
        <div class="p-4 h-full">
          <div class="shadow p-4 h-full flex flex-col bg-surface-0 dark:bg-surface-900" style="border-radius: 6px">
            <div class="text-surface-900 dark:text-surface-0 font-bold text-xl mb-2">{{ p.plano }}</div>
            <div class="text-surface-600 dark:text-surface-200">{{ p.descricao }}</div>
            <hr class="my-4 mx-0 border-t border-0 border-surface"/>
            <div class="flex items-center">
<!--              <span>7 dias de uso gratuito, depois disso: </span>-->
              <span class="font-bold text-2xl text-surface-900 dark:text-surface-0">{{ p.preco }}</span>
              <span class="ml-2 font-medium text-surface-600 dark:text-surface-200">por mês</span>
            </div>
            <hr class="my-4 mx-0 border-t border-0 border-surface"/>
            <ul class="list-none p-0 m-0 grow">
              @for (i of p.lista; track $index) {
                <li class="flex items-center mb-4">
                  <i class="pi pi-check-circle text-green-500 mr-2"></i>
                  <span class="text-surface-900 dark:text-surface-0">{{ i }}</span>
                </li>
              }
            </ul>
            <hr class="mb-4 mx-0 border-t border-0 border-surface mt-auto"/>
            <button pButton pRipple class="font-bold p-4 w-full mt-auto" routerLink="/cadastro">Assinar</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
