<p-card class="block mt-20 mx-auto max-w-96 animate-fadein animate-duration-500">
  <ng-template pTemplate="header">
    <img alt="Card" src="../../../../assets/imagens/asas.jpg"/>
  </ng-template>
  <h4 class="text-center font-bold mt-0 mb-12">Altere sua conta</h4>
  <div class="mb-8 mt-4">
        <span class="p-float-label">
          <input type="text" pInputText id="nome" [(ngModel)]="conta.nome" class="w-full"/>
          <label for="nome">Nome</label>
        </span>
  </div>
  <div class="mb-0">
        <span class="p-float-label">
<!--          <input type="text" pInputText id="senha" [(ngModel)]="conta.senha" class="w-full"/>-->
<!--          <label for="senha">Senha</label>-->
        </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Alterar" icon="pi pi-save" iconPos="right" styleClass="w-full" size="large"></p-button>
  </ng-template>
</p-card>
