<p-card class="block my-20 m-auto max-w-96 shadow rounded-border animate-fadein animate-duration-500">

  <ng-template pTemplate="header">
    <img src="assets/imagens/logo.jpg" alt="asas">
  </ng-template>

  <div class="text-center text-surface-900 dark:text-surface-0 text-5xl font-medium mb-8">Sistemas Anjos</div>
  <div class="text-center text-surface-600 dark:text-surface-200 text-2xl font-medium mb-6">Recupere sua senha</div>
  <div class="p-fluid">
    <span class="p-input-icon-right field">
      <i class="pi pi-envelope"></i>
      <input type="email" pInputText [pAutoFocus]="true" placeholder="Digite seu email"
             [(ngModel)]="email">
    </span>
    <p-button [disabled]="!email" (click)="recuperarSenha()" styleClass="w-full"
              label="Enviar email" icon="pi pi-send" iconPos="right" pRipple></p-button>
    <p-message></p-message>
  </div>

</p-card>
