<fieldset class="border border-gray-300 shadow-md rounded-lg p-3">
  <legend class="ml-2 p-2 font-bold text-lg">Acessos</legend>

  @for (u of sistema.usuarios; track $index) {

    <div class="flex gap-2 rounded-lg">
      <p-floatlabel variant="on" class="w-3/12">
        <input pSize="small" type="text" pInputText id="modelo" [(ngModel)]="u.nome" class="w-full"/>
        <label for="nome">Nome</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-2/12">
        <input pSize="small" type="password" pInputText id="senha" [(ngModel)]="u.senha" class="w-full"/>
        <label for="senha">Senha</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-2/12">
        <input pSize="small" type="text" pInputText id="telefone" [(ngModel)]="u.telefone" class="w-full"/>
        <label for="telefone">Telefone</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-4/12">
        <p-multiselect size="small" id="permissao" [options]="permissoes" [(ngModel)]="u.permissoes"
                       appendTo="body" class="w-full" />
        <label for="permissao">Permissões</label>
      </p-floatlabel>

      <div class="w-1/12">
        <p-toggleswitch [(ngModel)]="u.ativo" class="mt-1 ml-1" [pTooltip]="u.ativo ? 'Desativar usuário' : 'Ativar usuário'"
                        tooltipPosition="left"/>
      </div>
    </div>

    <hr class="mt-1 mb-3 w-full text-primary-200 dark:text-slate-600">
  }

  <div class="flex justify-between mt-4">
    <div></div>

    <p-button pRipple size="small" label="Salvar" styleClass="w-50" (click)="salvar()"></p-button>
  </div>
</fieldset>

