
<p-menubar [model]="menuPrincipal">
  <ng-template pTemplate="start">
    <a [routerLink]="rotaSistema"><img src="assets/imagens/asas.jpg" height="35" alt="Sistemas Anjos"></a>
  </ng-template>
  <ng-template pTemplate="end">
    @if (menuSecundario.length > 0) {
    <p-splitbutton [model]="menuSecundario" (onClick)="irConta()"
                   icon="pi pi-user" class="p-button-secondary p-button-text"></p-splitbutton>
    }
      </ng-template>
</p-menubar>

@if (sistema && sistema.eGratuito()) {
<div class="bg-slate-900 text-gray-100 p-4 flex justify-between lg:justify-center items-center flex-wrap">
  <div class="font-bold mr-20">🔥 Teste Gratuito!</div>
  <div class="items-center hidden lg:flex">
    <span class="leading-normal">Seu acesso será desativado em 5 dias, confira nossos planos de assinatura</span>
  </div>
  <a class="flex items-center ml-2 mr-20">
    <a class="text-white" href="#"><span class="underline font-bold">clicando aqui.</span></a>
  </a>
  <!--  <a pRipple class="flex items-center no-underline justify-center rounded-full text-gray-50 hover:bg-slate-700 cursor-pointer transition-colors duration-150" style="width:2rem; height: 2rem">-->
  <!--    <i class="pi pi-times"></i>-->
  <!--  </a>-->
</div>
}

<router-outlet></router-outlet>
