<div class="animate-fadein animate-duration-500 m-10 shadow-lg rounded-xl">

  <div class="grid grid-cols-12 gap-4">

    <div class="col-span-12 md:col-span-4">

      <fieldset class="border border-gray-300 shadow-md rounded-lg p-3">
        <legend class="ml-2 p-2 font-bold text-lg">Configurar</legend>
        <p>logo ou titulo pro sistema</p>
        <p>Cor do sistema</p>
        <p>programa de indicacao</p>
      </fieldset>

    </div>

    <div class="col-span-12 md:col-span-4">

      <fieldset class="border border-gray-300 shadow-md rounded-lg p-3">
        <legend class="ml-2 p-2 font-bold text-lg">Formulário de produto</legend>
        <p>formulario</p>
      </fieldset>

    </div>

    <div class="col-span-12 md:col-span-4">

      <fieldset class="border border-gray-300 shadow-md rounded-lg p-3">
        <legend class="ml-2 p-2 font-bold text-lg">Acessos ao sistema</legend>
        <p>usuarios</p>
      </fieldset>

    </div>

  </div>

</div>
