
<div class="mx-auto mt-6 w-10/12 shadow-lg animate-fadein animate-duration-500">

  <p-table #dt [value]="lista" [rows]="20" [globalFilterFields]="['sistema', 'email', 'senha', 'resultado']"
           dataKey="id" class="p-datatable-sm" scrollHeight="700px">

    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <h5 class="mt-1 mb-0">{{lista ? lista.length : 0 }} Acessos</h5>
        <p-columnFilter field="email" matchMode="contains" [showMenu]="false" [showClearButton]="false">
          <ng-template pTemplate="filter" let-resultado let-filter="filterCallback">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input class="p-inputtext-sm" pInputText type="text" placeholder="Sistema.."
                   [ngModel]="resultado" (ngModelChange)="filter($event)" />
            </span>
          </ng-template>
        </p-columnFilter>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Resultado</th>
        <th>Sistema</th>
        <th>Email</th>
        <th>Data</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      @if (carregando) {
      <tr>
        <td><p-skeleton width="100%" height="80px"></p-skeleton></td>
        <td><p-skeleton width="100%" height="80px"></p-skeleton></td>
        <td><p-skeleton width="100%" height="80px"></p-skeleton></td>
        <td><p-skeleton width="100%" height="80px"></p-skeleton></td>
        <td><p-skeleton width="100%" height="80px"></p-skeleton></td>
      </tr>
      }
      @if (!carregando) {
      <tr>  <!--[ngStyle]="{ 'background-color': obterBackgroundColor(item.resultado)}"-->
        @if (item.resultado == 1) {
        <td><p-tag icon="pi pi-check" severity="success" value="Sucesso"></p-tag></td>
        }
        @if (item.resultado == 2) {
        <td><p-tag icon="pi pi-times" severity="danger" value="Falha"></p-tag></td>
        }
        <td>{{item.sistema}}</td>
        <td>{{item.email}}</td>
        <td>{{item.data}}</td>
      </tr>
      }
    </ng-template>
  </p-table>
</div>
