<div class="animate-fadein animate-duration-500 m-10 shadow-lg rounded-xl">

  <p-table #dt id="tabelaClientes" [value]="clientesFiltrados" [rows]="10" [paginator]="true"
           dataKey="_id" [showCurrentPageReport]="true" paginatorStyleClass="dark:bg-dark dark:text-white"
           [loading]="carregando" [loadingIcon]="'pi pi-spin pi-spinner-dotted'"
           [currentPageReportTemplate]="'Exibindo itens de {first} a {last} de um total de {totalRecords}'">

    <ng-template #caption>

      <div class="flex items-center justify-between text-2xl p-3 bg-logo rounded-t-xl">
        <div class="w-1/3">
          <p-button size="small" icon="pi pi-pen-to-square" iconPos="right" severity="secondary"
                    *temPermissao="['CONFIGURAR_CLIENTES']" tooltipPosition="right" pTooltip="Configurar formulário" />
        </div>
        <div class="flex justify-center font-bold w-1/3">
          Clientes
        </div>
        <div class="flex justify-end w-1/3">
          <p-button size="small" icon="pi pi-plus" iconPos="right" label="Novo cliente" severity="primary"
                    *temPermissao="['CADASTRAR_CLIENTES']" />
        </div>
      </div>

      <hr class="border-gray-200">

      <div class="flex items-center justify-between p-3">
        <p-iconfield>
          <p-inputicon class="pi pi-search"/>
          <input pSize="small" type="text" pInputText placeholder="Filtrar por nome.." id="filtrar"
                 class="w-80" [(ngModel)]="palavraChave" (ngModelChange)="filtrar()"/>
        </p-iconfield>

<!--        <p-selectbutton [options]="filtrosStatus" size="small" [(ngModel)]="filtroStatus" (ngModelChange)="filtrar()" />-->
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th>Nome</th>
        <th>Nascimento</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Telefone</th>
        <th>Email</th>
      </tr>
    </ng-template>

    <ng-template #body let-cliente>
      <tr (click)="passar(cliente)">
        <td>{{ cliente.identificacao.nome }}</td>
        <td>{{ cliente.identificacao.nascimento | date: 'dd/MM/yyyy' }}</td>
        <td>{{ cliente.endereco.cidade }}</td>
        <td>{{ cliente.endereco.estado }}</td>
        <td>{{ cliente.contato.telefone }}</td>
        <td>{{ cliente.contato.email }}</td>
      </tr>
    </ng-template>

  </p-table>

  <!--  <app-exemplo-janela [exibirJanela]="exibirJanela" (fecharJanela)="fecharVendaDialog()" [venda]="venda"-->
  <!--                      (atualizarTabela)="pesquisar()"/>-->

</div>
