<div class="flex flex-col justify-between h-dvh" id="tema">

  <p-menubar [model]="items" class="bg-logo rounded-none shadow-lg dark:text-light">

    <ng-template pTemplate="start">
      @if (usuario.eAdministrador()) {
        <p-inplace>
          <ng-template #display>
            <span class="font-bold">{{ titulo }}</span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <input type="text" size="small" pInputText [(ngModel)]="titulo" [pAutoFocus]="true"
                   class="w-42" (blur)="closeCallback($event)"/>
          </ng-template>
        </p-inplace>
      } @else {
        <span class="font-bold">{{ titulo }}</span>
      }
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex gap-2">

<!--        <p-button size="small" icon="pi pi-bell" severity="warn" [outlined]="true"-->
<!--                  tooltipPosition="bottom" pTooltip="Notificações" showDelay="1000"/>-->

        <p-button size="small" icon="pi pi-cog" severity="secondary" [outlined]="true"
                  tooltipPosition="bottom" pTooltip="Configurações" showDelay="1000"
                  (click)="abrirConfiguracoes()"/>

        <p-button size="small" [icon]="temaEscuro ? 'pi pi-moon' : 'pi pi-sun'"
                  [severity]="temaEscuro ? 'contrast' : 'warn'" [outlined]="true"
                  tooltipPosition="bottom" pTooltip="Alternar tema" showDelay="1000" (click)="alternarTema()"/>

        <p-button size="small" icon="pi pi-expand" severity="help" [outlined]="true"
                  tooltipPosition="bottom" pTooltip="Alternar tela cheia"
                  showDelay="1000" (onClick)="alterarTela()"/>

        <p-button icon="pi pi-times" tooltipPosition="left" pTooltip="Sair do sistema" showDelay="1000"
                  [outlined]="true" size="small" severity="danger" (click)="sair()"/>

      </div>

    </ng-template>
  </p-menubar>

  <router-outlet></router-outlet>

  <app-rodape></app-rodape>

</div>
