<div class="animate-fadein animate-duration-500 m-10 shadow-lg rounded-xl">

  <p-table #dt id="tabelaVendas" [value]="vendasFiltradas" [rows]="10" [paginator]="true"
           dataKey="_id" [showCurrentPageReport]="true" paginatorStyleClass="dark:bg-dark dark:text-white"
           [loading]="carregando" [loadingIcon]="'pi pi-spin pi-spinner-dotted'"
           [currentPageReportTemplate]="'Exibindo itens de {first} a {last} de um total de {totalRecords}'">

    <ng-template #caption>

      <div class="flex items-center justify-between font-bold text-2xl py-4 pr-3 bg-logo rounded-t-xl">
        <div class="w-48">
          <p-button label="voltar ao site" routerLink="/" link iconPos="left"
                    icon="pi pi-arrow-left" styleClass="text-blue-500 dark:text-light" />
        </div>
        <div>
          Registros de vendas
        </div>
        <div class="w-48 flex justify-end">
          <p-button size="small" icon="pi pi-plus" iconPos="right" label="Novo registro" (click)="abrirVendaDialog()" severity="primary" />
        </div>
      </div>

      <hr class="border-gray-200">

      <div class="flex items-center justify-between p-3">
        <p-iconfield>
          <p-inputicon class="pi pi-search"/>
          <input pSize="small" type="text" pInputText placeholder="Filtrar por cliente ou produto.." id="filtrar"
                 class="w-80" [(ngModel)]="palavraChave" (ngModelChange)="filtrar()"/>
        </p-iconfield>

        <p-selectbutton [options]="filtrosStatus" size="small" [(ngModel)]="filtroStatus" (ngModelChange)="filtrar()" />
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th>Cliente</th>
        <th>Produto</th>
        <th>Forma(s) de pagamento</th>
        <th>Valor total</th>
        <th>Valor faltando</th>
        <th class="flex justify-center">Próximo pagamento</th>
        <th>Data de venda</th>
      </tr>
    </ng-template>

    <ng-template #body let-venda>
      <tr (click)="passar(venda)" class="bg-red-100 hover:!bg-sky-200 cursor-pointer"
          [ngClass]="{'!bg-green-100': venda.pagamento.tudoPago}">
        <td>{{ venda.identificacao.nome }}</td>
        <td>{{ venda.produto.produto }}</td>
        <td>{{ venda.pagamento.formaPagamento }}</td>
        <td>{{ venda.pagamento.valorTotal | currency }}</td>
        <td>{{ venda.pagamento.valorFaltando | currency }}</td>
        <td>
          <div class="flex justify-center"
               [ngClass]="{'pulsarFraco': venda.pagamento.statusPagamento === ProximoPagamento.HOJE && !venda.pagamento.tudoPago,
               'pulsaForte': venda.pagamento.statusPagamento === ProximoPagamento.ATRASADO && !venda.pagamento.tudoPago }">
            @if (venda.pagamento.statusPagamento === ProximoPagamento.ATRASADO) {
              <span>{{ venda.pagamento.dataProximoPagamento | date: 'dd/MM/yyyy' }}</span>
              <span class="ml-2">({{ venda.pagamento.statusPagamento }}) <i class="pi pi-exclamation-triangle ml-1 text-red-400"></i></span>
            } @else if (venda.pagamento.statusPagamento === ProximoPagamento.AGUARDANDO) {
              <span class="ml-2">{{ venda.pagamento.dataProximoPagamento | date: 'dd/MM/yyyy' }}</span>
            } @else {
              @if (venda.pagamento.statusPagamento === ProximoPagamento.PAGO) {
                <span>{{ venda.pagamento.statusPagamento }} <i class="pi pi-check ml-1 text-green-400"></i></span>
              } @else {
                <span>{{ venda.pagamento.statusPagamento }}</span>
              }
            }
          </div>
        </td>
        <td>{{ venda.dataVenda | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </ng-template>

  </p-table>

  <app-exemplo-janela [exibirJanela]="exibirJanela" (fecharJanela)="fecharVendaDialog()" [venda]="venda"
                      (atualizarTabela)="pesquisar()"/>

</div>
